<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <a class="alivio" href="/">Alivio</a>
        <nav>
            <ul>
                <li><a href="/why">Why Alivio</a></li>
                <li><a href="/solutions">Solutions</a></li>
                <li><a href="/community">Community</a></li>
                <li><a href="/pricing">Pricing</a></li>
            </ul>
        </nav>
        <div>
            <a href="#">Sign in</a>
            <a href="#">Start trial</a>
        </div>
    </header>
    <section class="hero">
        <article>
            <h1>Be aware, Manage well.</h1>
            <p>Everyone experiences stress in different ways. Let Alivio guide you, in a personalized journal
                experience, to overcome your stress.</p>
            <a href="">Find Your Way</a>
        </article>
    </section>
    <footer>
<a class="footer_alivio" href="/">Alivio</a>
<nav>
    <ul>
        <li><a href="/why">Why Alivio</a></li>
        <li><a href="/solutions">Solutions</a></li>
        <li><a href="/community">Community</a></li>
        <li><a href="/pricing">Pricing</a></li>
    </ul>
</nav>

    </footer>
</body>
</html>