
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 1em 15em 1em 12em
}
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header nav li {
    list-style: none;
}
header a {
    text-decoration: none;
}
header nav a {
    padding-right: 2em;
    color: black
}
header div a:first-of-type {
    color: black;
    padding-right: 1em;
}
header div a:nth-of-type(2) {
    color: white;
    background: #01996D;
    padding: 0.5em 2em;
    border-radius: 5px;

}
.alivio {
    color: #01996D;
    font-size: 1.5em;
    font-weight: 700;
}
.hero {
    background: url("/BG.png") center/cover no-repeat;
}
.hero article {
    width: 40%;
    padding-top: 12em;
    padding-left: 12em;
    padding-bottom: 25em
}
.hero article h1 {
    color: #01996D;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 0.8em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hero article p {
    width: 80%;
    margin-bottom: 4em
}
.hero article a, #community a {
    color: white;
    background: #01996D;
    padding: 0.8em 2.5em;
    border-radius: 5px;
    text-decoration: none;

}
footer {
    background: #245852;
    padding-left: 12em;
    padding-bottom: 5em
}
footer a {
    color: white;
    text-decoration: none;
}
footer li {
    margin-bottom: 2em;
    list-style: none;
}
.footer_alivio {
display: inline-block;
margin-bottom: 1em;
margin-top: 3em;
font-size: 1.5em;
font-weight: 700;
}
#how {
    margin-bottom: 5em;
}
#how_intro {
    margin-top: 7em
}
#how_intro div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12em;
    padding-left: 12em;
    padding-right: 12em
}
#how_intro p {
    padding-left: 12em;
}
.how_p {
    font-size: 0.8em;
}
#how_intro h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #01996D;
    line-height: 1.5em;
    font-size: 2em;
}
#how_list h1 {
    color:  rgba(1, 153, 109, 0.2);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 7em;
}
#how_list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4em;
    padding-left: 12em;
    padding-right: 12em;
    margin-top: 7em;
}
#how_list img {
    width: 100%
}
#how_list div:nth-of-type(2) {
    margin-top: 7em;
}
#how_list div:nth-of-type(3) {
    margin-top: 3em;
}
#how_list div p:nth-of-type(2) {
    margin: 3em 0;
}
.how_div {
    position: relative;
}
#how_list div p:first-of-type {
    font-size: 1.5em;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 3.3em;
    left: 3em
}
#solutions {
    margin-bottom: 8em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#solutions a {
    color: white;
    background: #01996D;
    padding: 0.8em 2em;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20em

}
#solutions img {
    display: inline-block;
    margin-top: 10em;
}
#community {
    margin: 10em 12em 15em 15em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
}
#community img {
    display: block;
}
#community_container {
    position: relative;
}
#card {
    position: absolute;
    top: 21em;
    left: -6em
}
#community_product p {
    padding-right: 12em;
}
#community_product h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #01996D;
    line-height: 1.5em;
    font-size: 2em;
}
#community_product p:first-of-type {
    margin-bottom: 1em
}
#community_product p:nth-of-type(2) {
    margin: 1em 0;
}
#community_product a {
    display: inline-block;
    margin-top: 0.5em
}
#not_found {
    text-align: center;
    padding: 15em 0;
    border-top: 1px solid #E5E5E5
}

